doctype 5
html(lang='en')
	head
		meta(charset="utf-8")
		title Registration App

		link(rel="stylesheet", href="/vendor/css/bootstrap.css")
		block styles

		script(src="vendor/js/angular.js")
		script(src="vendor/js/jquery.min.js")
		block scripts

	block content
	


